{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <style>
    article {
    background-color: #CBE86B;
    float: left;
    padding: 0 20px 40px;
    width: 560px; /* 560px + 20px + 20px = 600px */
      
    }

    aside {
        background-color: #CCCCCC;
        float: right;
        padding-left: 20px;
        width: 280px; /* 280px + 20px = 300px */
    }
    </style>
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  
  <aside id = 'aside'>
    {{ partial "toc.html" .}}
  </aside>

  {{ partial "disqus.html" .}}

</main>



{{ partial "footer.html" . }}

{{ if .Site.Params.GoogleAnalyticsID }}
{{ partial "analytics-gtag.html" . }}
{{ end }}